.scaleButton {
  display: flex;
  min-width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--main-bg-color);
  transition: all 250ms;
  margin-right: 0.5rem;
  border: none;
  font-size: 1.2rem;
  color: var(--main-text-color);
  opacity: 0.9;
}

.scaleButton:hover {
  opacity: 1;
  scale: 1.1;
}
