.scaleButton {
  display: flex;
  min-width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: rgb(130, 210, 140);
  color: white;
  transition: all 250ms;
  margin-right: 0.5rem;
  border: none;
  font-size: 1.2rem;
}

.scaleButton:hover {
  background-color: rgb(110, 190, 120);
}
