.loginContainer {
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 1rem;
  gap: 1rem;
  border-radius: 2.5rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.loginContainer button {
  width: 100%;
}
