.App {
  display: flex;
  flex-direction: column;
  font-family: 'Arial Narrow';
  width: 100%;
  min-height: 100vh;

  justify-content: center;
  align-items: center;
}

.main-content {
  flex-grow: 1;
}
